/*
  CSS-Regeln für das HTML-Template für E-Books (Kindle):
  https://github.com/Perun/html-template-kindle
*/

h1 {font-size: 1.5em; margin-bottom: 1em;}
h2 {font-size: 1.375em; margin: 1.25em 0 0.25em 0;}
h3 {font-size: 1.25em; margin: 1.25em 0 0.25em 0;}
h4 {font-size: 1.125em; margin: 1.25em 0 0.25em 0;}
h5 {font-size: 1em; font-weight: bold; margin: 1.25em 0 0.25em 0;}
h6 {font-size: .875em; font-weight: bold; margin: 1.25em 0 0.25em 0;}

/* Bei Überschriften den Blocksatz aufheben */
h1, h2, h3, h4, h5, h6 {text-align: left;}

table {margin-top: 0.75em;}
p     {margin: .125em 0 .7em 0; text-indent: 0;}

ul, ol, blockquote, pre, dl, hr {margin-top: .125em; margin-bottom: .5em;}

.inhaltsverzeichnis ul {list-style: none; padding-left: 0; margin-left: 20px;}

/* Hinweis-Boxen und Code-Beispiele */
.hinweis, .quelltext  {border: 1px solid #bbb; border-radius: 5px; background: #eee; padding: 1em;}
code                  {font-family: consolas, 'courier new', monospace; color: #900;}

.bild {font-style: italic;}
